
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #121212;
    color: #fefefe;
}
header {
  display: flex;
  color: white;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4CAF50;
  justify-content: space-between;
}

/* Flip Card Styles */
.card-contanir {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    perspective: 1000px;
    width: 200px;
    height: 200px;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s;
}

.card .back {
    background-color: #333;
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea, button {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}

@media (max-width: 600px){
    .card-contanir {
    flex-direction: column;
    align-items: center;
    
}
}